<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ChatMsgMapper">
    <insert id="insert">
        insert into chat_msg values (msg_seq.nextval, #{roomNum}, #{nick}, #{msg})
    </insert>

</mapper>