<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <title>Document</title>
</head>
<body>
    <div th:text="${session.nick+'님 안녕하세요.'}"></div>
    <form action="/chatRoom/join" id="chatRoom">
        <input type="hidden" id="roomNum" name="roomNum">
    </form>
    <button type="button" id="chat1">1번방 입장</button>
    <button type="button" id="chat2">2번방 입장</button>

    <script>
        $("#chat1").on("click", function (){
           $("#roomNum").val("1");
           $("#chatRoom").submit();
        })

        $("#chat2").on("click", function (){
            $("#roomNum").val("2");
            $("#chatRoom").submit();
        })
    </script>
</body>
</html>